body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.calendar-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

#month-select, #year-select {
    padding: 10px;
    margin: 0 5px;
    font-size: 16px;
    border: solid 1px black;
    border-radius: 15px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

#calendar div {
    padding: 10px;
    background: #e0e0e0;
    text-align: center;
    cursor: pointer;
}

#calendar .header {
    background: #d0d0d0;
    font-weight: bold;
}

.hidden {
    display: none;
}

#event-form {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-event {
    background-color: #4CAF50;
    color: white;
}

#delete-event {
    background-color: #f44336;
    color: white;
    margin-top: 10px;
}


